.list-items {
    background: rgba(255, 255, 255, 1);
    display: flex;
    width: 454px;
    margin-bottom: 35px;
    filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
}

.list-items:nth-child(2n) {
    margin-left: 36px;
}

.list-items__img {
    width: 183px;
}

.list-items-container {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
}

.list-items-container__title {
    width: 190px;
    font-family: 'Inter', 'sans-serif';
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
}

.list-items-container__time {
    font-family: 'Inter', 'sans-serif';
    font-size: 12px;
    color: #827E7E;
    line-height: 22px;
    padding-bottom: 7px;
    text-align: left;
}

.button-grup {
    padding-bottom: 7px;
    text-align: left;
}

.button {
    height: 20px;
    background: #FAFAFA;
    border: 1px solid #D9D9D9;
    font-family: 'Inter', 'sans-serif';
    color: rgba(0, 0, 0, 0.65);
    font-size: 12px;
    line-height: 15px;
    margin-right: 8px;
    border-radius: 2px;
    padding: 2px 3px 3px 5px;
}

.list-items-container__wrapper {
    font-family: 'Inter', 'sans-serif';
    font-size: 12px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: auto;
    text-align: left;
}

.rate {
    margin-bottom: 10px;
    font-size: 18px;
    margin-right: -9px;
}

.ant-rate-star {
    margin-right: 6px !important;
}

.ellipse {
    display: flex;
    width: 30px;
    height: 30px;
    border: 2px solid #E9D100;
    border-radius: 50%;
    font-family: 'Inter', 'sans-serif';
    font-size: 12px;
    align-items: center;
    justify-content: center;
    color: #000000;
}

.list-title {
    display: flex;
    justify-content: space-between
}