@media (min-width: 320px) {
    .list {
        min-width: 320px;
        background: #000;
        display: flex;
        flex-wrap: wrap;
        background: #FFF;
        margin: 0 auto;
        justify-content: center;
        padding-bottom: 30px;
        padding-right: 20px;
        padding-left: 20px;
    }

    .list-search {
        height: 40px;
        left: 0px;
        right: 0px;
        top: 0px;
        background: #FFFFFF;
        border: 1px solid #D9D9D9;
        box-sizing: border-box;
        border-radius: 4px;
        margin: 17px 16px 0px 16px;
        font-family: 'Inter', 'sans-serif';
    }

    .ant-tabs-nav {
        margin-bottom: 0 !important;
        font-family: 'Inter', 'sans-serif';
    }
}


@media (min-width: 520px) {
    .list {
        min-width: 520px;
    }

    .list-search {
        margin: 19px 36px 0px 36px;
    }

    .list-search-none {
        display: none;
    }
}

@media (min-width: 805px) {
 .list {
     min-width: 805px;
 }
}

@media (min-width: 1010px) {
    .list {
        width:1010px;
    }
}